* {
    margin: 0;
    padding: 0;
    /* border: solid red 1px; */
}

*::after,
*::before,
* {
    box-sizing: border-box;
}

button {
    background: url(../svg/backgroundButton.svg);
    fill: #4F8FEF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px 150px;
    padding: 2rem;
    font-size: 1.5em;
    color: white;
    border: none;
}

.active {
    background: url(../svg/backgroundButtonHover.svg);
    fill: #4F8FEF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px 150px;
    padding: 2rem;
    font-size: 1.5em;
    color: white;
    border: none;
}

/* .button--bottom,
.button-ville {
    padding: 0;
    border: solid 1px #4F8FEF;
    width: fit-content;
    margin: auto;
} */

.svgFleche {
    width: 1.5em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #c7d9fb;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.2rem;
    color: #333;
    padding: 30px 0;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 30px;
}

.p--description {
    color: #000;
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 55%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    width: 100%;
    height: 70vh;
}

main>*,
.section--svgs>* {
    height: 100%;
}

.section--svgs {
    width: 35%;
    position: relative;
    /* background-color: #4F8FEF; */
}

/* Style */

.article--style,
.article--paysage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 100px;
    height: 90%;
    margin-top: -70px;
    width: 25%;
}

.div--style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* paysage */

.div--paysage {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* images */


.img {
    width: 50%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.articleTop {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 40%;
}

.articleBot {
    height: 40%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}





































/* SVG */



/* .svg {
    --grand: 60%;
    --petit: 48.5%;
    width: 100%;
    height: 100%;
    --wHsize: var(--grand);
    --hHsize: var(--petit);
    --wVsize: var(--petit);
    --hVsize: var(--grand);
}

.svg1 {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--wHsize);
    height: var(--hHsize);
    background-color: #4F8FEF;
}

.svg2 {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--wVsize);
    height: var(--hVsize);
}

.svg3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--wHsize);
    height: var(--hHsize);
}

.svg4 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--wVsize);
    height: var(--hVsize);
}

.svg1 rect {
    fill: #4F8FEF;
    fill: url('chemin/vers/image.jpg');
} */